.header{
    text-align: center;
    background:rgba(255,255,255,0.5);
    width: 100%;
    z-index: 0;

}
.headerTitle{
    font-style: italic;
    text-shadow: black;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.headerBanner{
    height: 80px;
    line-height: 80px;
}

.headerImg{
max-width: 100px;
max-height: 100px;
}

.dropdownbtndefault{
    margin:15px 5px 5px 5px;
    line-height: 20px;
    color: #777;
}

.dropdownbtndefault:hover, .dropdownbtndefault:focus{
    color:#333;
    background-color:none;
    text-decoration: none;
}