<div class="header">
  <div class="headerTitle headerBanner">
    <h1>
      {{title}}
    </h1>
  </div>
  <img src="../assets/images/cropped-angular.png" alt="" style="width:100px;" />
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a routerLink="/allphians" class="navbar-brand">{{menuTitle}}</a>
      <ul class="nav navbar-nav">
        <li><a>Basis</a></li>
        <li><a>Routing</a></li>
        <li><a>Observables</a></li>
        <li><a>Http Calls</a></li>
        <li>
          <div class="dropdownbtndefault" dropdown>
            <a dropdownToggle class="dropdownbtndefault dropdown-toggle">
              Forms <span class="caret"></span>
            </a>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a routerLink="/modeldrivenforms">Model driven form</a></li>
              <li role="menuitem"><a routerLink="/reactiveform">Reactive form</a></li>
            </ul>
          </div>
        </li>
        <li><a [routerLink]="[{ outlets: { popupcontact: ['contact'] } }]">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="space-30">
  <div class="container">
    <router-outlet name="popupcontact"></router-outlet>
    <router-outlet></router-outlet>
  </div>
</div>